.container {
    background-color: #eeeeee;
    padding: 3rem;
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: auto;
}

.box-container {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 2rem;
    margin-bottom: 3.6rem;
}


.dashboard-container {
    display: flex;
    justify-content: space-between;
    row-gap: 1.5rem;
    flex-wrap: wrap;
}