.container {
    background-color: #fff;
    /* height: 70%; */
    width: 35%;
    /* padding: 2rem; */
    border-radius: 10px;
    padding: 4rem 6rem 4rem 6rem;
}

.small-container {
    background-color: #fff;
    width: 35%;
    padding: 2rem;
    border-radius: 10px;
    padding: 2rem 3rem 2rem 3rem;
}