.transaction-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.transaction-form label {
    font-size: 1.4rem;
    font-weight: 700;
}

.button {
    display: block;
    margin : 0 auto;
    margin-top: 3rem;
}