.modal {
    position: fixed;
    left: 60%;
    top: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
}

.transaction-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.transaction-form label {
    font-size: 1.4rem;
    font-weight: 700;

}

.button {
    /* display: block; */
    /* margin : 0 auto; */
    margin-top: 3rem;
}

.button-container {
    display: flex;
    column-gap: 1.6rem;
    justify-content: flex-end;
}

.checkbox {
    display: flex;
    column-gap: 0.8rem;
}


.filter-flex {
    display: flex;
    column-gap: 1rem;
}

.filter-flex input {
    width: 100%;
}